
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('background/back3.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.logo h2 {
    
    font-size: 2em;
    color: #fff;
    user-select: none;
    /* Add styles for the logo */
}


.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
}


/* Media query for responsiveness */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: stretch;
    }

    .logo, .navigation {
        margin-bottom: 15px;
    }

    .navigation ul {
        flex-direction: column;
    }

    .navigation ul li {
        margin: 5px 0;
    }
}


/*
.wrapper::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 400px;
    height: 440px;
    background: linear-gradient(0deg, transparent,
    transparent, hsla(229, 91%, 17%, 0.74), hsla(229, 91%, 17%, 0.74), hsla(229, 91%, 17%, 0.74));
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.wrapper::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 400px;
    height: 440px;
    background: linear-gradient(0deg, transparent,
    transparent, hsla(229, 91%, 17%, 0.74), hsla(229, 91%, 17%, 0.74), hsla(229, 91%, 17%, 0.74));
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

.borderLine {
    position: absolute;
    top: 0;
    inset: 0;
}

.borderLine::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 400px;
    height: 440px;
    background: linear-gradient(0deg, transparent,
    transparent, #ff2770, #ff2770, #ff2770 );
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}

.borderLine::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 400px;
    height: 440px;
    background: linear-gradient(0deg, transparent,
    transparent, #ff2770, #ff2770, #ff2770 );
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
}

@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100% 
    {
        transform: rotate(360deg);
    }
}
*/

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active {
    height: 520px;

}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2 {
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    font-weight: 1000;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #fff;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: navy;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: navy;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}



/* Add any additional styles or adjustments as per your design */
  

/* Footer Section styles 
footer {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 10px;
}
  
footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
footer ul li {
    display: inline-block;
    margin-right: 20px;
}
    
footer ul li a {
    color: #fff;
    text-decoration: none;
}
  */